apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: jblas7/back-3-trimestre-2-daw:vfinal # ya no se cambia mas
        imagePullPolicy: Always
        ports:
        - containerPort: 8080 # escuchará en el puerto 8080 y tb se mapeará al 8080 de salida
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
